<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="../static/css/kendo.common.min.css" rel="stylesheet">
    <link href="../static/css/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="../static/css/bk.css" rel="stylesheet">
    <link href="../static/css/bk_pack.css" rel="styesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="../static/js/echarts-all.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="../static/js/kendo.all.min.js"></script>
    <script src="../static/js/echarts-all.js"></script>
    <script src="../static/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="../static/js/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1 king-horizontal-info f14">
                    <div class="navbar-container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo"> </a>
                                
                        </div>
                        <ul class="nav navbar-nav pull-left m0">
                            <li class="active"><a href="javascript:void(0);">网络</a></li>
                            <li><a href="javascript:void(0);">系统相关</a></li>
                        </ul>
                        <div class="navbar-header pull-right">
                            <ul class="nav">
                                <li class="user-info">
                                    <a href="javascript:;">
                                        <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                        <span>admin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="king-tab tab-box ">
                            <ul id="myTab2" class="nav nav-tabs king-nav-tabs1 king-tab-info">
                                <li class=""> <a data-toggle="tab" href="#demo3" aria-expanded="false">ping测试</a> </li>
                                <li class="active"> <a data-toggle="tab" href="#demo4" aria-expanded="true">路由探测</a> </li>
                                <li class=""> <a data-toggle="tab" href="#demo5" aria-expanded="false">访问关系</a> </li>
                                <li class="active"> <a data-toggle="tab" href="#demo6" aria-expanded="true">访问关系维护</a> </li>
                            </ul>
                            <div class="tab-content p0">
                                <div class="tab-pane fade" id="demo3" style="">
                                    <div class="container-fluid mb0 ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label>登陆主机：</label>
                                                    <input type="text" class="form-control" id="" placeholder="输入需要登陆的主机IP"> </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label>探测IP：</label>
                                                    <input type="text" class="form-control" id="" placeholder="请输入IP,多个使用空格分割"> </div>
                                                <form class="form-vertical p15">
                                                    <div class="form-group">
                                                        <button type="button" class="king-btn-demo king-btn king-border king-radius king-success">提交</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="king-block king-block-themed bk-ranger-box mb10" id="list_1542289786998">
                                                    <div class="king-block-header king-info">
                                                        <h3 class="king-block-title pt10 pb10">
                                                            <span class="fa fa-laptop mr5"></span>返回结果</h3>
                                                    </div>
                                                    <div class="ranger-wrapper">
                                                        <table class="table mb0 pr15 ranger-header-box">
                                                            <thead>
                                                                <tr>
                                                                    <th class="p15" style="width:20%;">排名</th>
                                                                    <th style="width:40%;">用户名</th>
                                                                    <th>成绩</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div style="height:203px; overflow: auto;" class="ranger-box">
                                                            <table class="table mb0">
                                                                <tbody id="">
                                                                    <tr>
                                                                        <td class="p15" style="width:20%;">1</td>
                                                                        <td style="width:40%;">项目一</td>
                                                                        <td>20</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="p15" style="width:20%;">2</td>
                                                                        <td style="width:40%;">项目二</td>
                                                                        <td>20</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="p15" style="width:20%;">3</td>
                                                                        <td style="width:40%;">项目三</td>
                                                                        <td>20</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="p15" style="width:20%;">4</td>
                                                                        <td style="width:40%;">项目四</td>
                                                                        <td>20</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="p15" style="width:20%;">5</td>
                                                                        <td style="width:40%;">项目五</td>
                                                                        <td>20</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="p15" style="width:20%;">6</td>
                                                                        <td style="width:40%;">项目六项目六项目六</td>
                                                                        <td>20</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 设置面板Start -->
                                                <template id="list2_header_tpl">
                                                    <tr>
                                                        <th class="p15" style="width:20%;">#index#</th>
                                                        <th style="width:40%;">#name#</th>
                                                        <th>#score#</th>
                                                    </tr>
                                                </template>
                                                <template id="list2_tpl">
                                                    <tr>
                                                        <td class="p15" style="width:20%;">#index#</td>
                                                        <td style="width:40%;">#name#</td>
                                                        <td>#score#</td>
                                                    </tr>
                                                </template>
                                                <template id="list2_nodata_tpl">
                                                    <tr>
                                                        <td colspan="3">
                                                            <p class="bk-nodata-tip">暂时没有数据</p>
                                                        </td>
                                                    </tr>
                                                </template>
                                                <!-- 设置面板End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade active in" id="demo4" style="">
                                    <div class="container-fluid mb0 ">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label>源地址：</label>
                                                    <input type="text" class="form-control" id="" placeholder="输入IP"> </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <label>目的地址：</label>
                                                    <input type="text" class="form-control" id="" placeholder="输入IP"> </div>
                                                <form class="form-horizontal">
                                                    <div class="form-group clearfix">
                                                        <div class="col-sm-9 col-sm-offset-3">
                                                            <button type="button" class="king-btn-demo king-btn king-border king-radius king-success">开始探测</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="king-panel8 m15">
                                                    <div class="king-panel8-header">
                                                        <h3 class="king-panel8-title king-info">返回结果</h3>
                                                    </div>
                                                    <div class="king-panel8-content pt25">
                                                        <div class="container-fluid mb0 ">
                                                            <div class="row">
                                                                <div class="col-md-12"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function renderTpl(str, cfg) {
                var re = /(#(.+?)#)/g;

                return str.replace(re, function() {
                    var val = cfg[arguments[2]]+'';
                    if(typeof val == 'undefined') {
                        val = '';
                    }
                    return val;
                });
            }
            
            function initList2(conf){
                // 异步请求后台数据
                $.ajax({
                    url: conf.url,
                    type: 'GET',
                    dataType: conf.dataType,
                    success: function(res){
                    //获取数据成功
                        if (res.code == 0){
                            var _html = ' ';
                            var list = res.data.items;
                            var tpl = $('#list2_tpl').html();
                            var headerTpl =  $('#list2_header_tpl').html();
                            if (list.length == 0){
                                _html = $('#list2_nodata_tpl').html();
                            }else{
                                for (var i=0,len=list.length; i < len; i++){
                                    var item = list[i];
                                    _html += renderTpl(tpl, item)
                                }
                            }
                            $(conf.container).find('.ranger-box tbody').html(_html);
                            $(conf.container).find('.ranger-header-box thead').html(renderTpl(headerTpl,res.data.catalogues));
                        }
                    }
                });
            }
    </script>
    <script>
        initList2({
                url: 'https://magicbox.bk.tencent.com/static_api/v3/components/list2/demo.json',
                dataType: 'json',
                container: '#list_1542289786998'
            });
    </script>
</body>

</html>