<!-- REQUIRED JS SCRIPTS -->
<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="/static/js/echarts-all.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
<script src="/static/js/kendo.all.min.js"></script>
<script src="/static/js/echarts-all.js"></script>
<script src="/static/js/bk.js"></script>
<!-- 数据埋点统计 -->
<script src="/static/js/analysis.js"></script>